body {
  margin: 0;
  background-color: rgb(54, 69, 79);
  font-family: Font, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 18rem;
  background-color: rgb(115, 147, 179)
}

h1 {
  color: rgb(115, 147, 179);
  padding: 30px;
}

button {
  margin: 10px;
}

